* {
  margin: 0;
  border: 0;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
  box-shadow: 3px 1px 14px rgb(76, 75, 75);
}

div.gallery-item div.desc {
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}