p {
    /*
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 40px;
    */
    /* 
    * instead of defining all the four sides separately, we could define all of them together
    * using a single property called margin. The order of values is top, right, bottom, left (clockwise)
    */
    margin: 10px 40px 20px 30px;
    color: blue;
}

#box {
    /*
    * We can set the margin property to auto to horizontally center the element within its container.
    * The element will then take up the specified width, and the remaining space will be split equally
    * between the left and right margins.
    */
    margin: auto;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}