#box1 {
    display: flex;
    background-color: rgb(58, 58, 209);
    /*
     * The height property sets the height of an element. It can be used for any block-level or inline-block element, 
     * but not for inline elements (such as <span>), as they don't respect height and width properties.
     */
    height: 100px;
    /*
     * The width property sets the width of an element. Like height, it can be used for block-level elements and inline
     * -block elements but not inline elements.
     */
    width: 200px;
}

/* 
 * If we set height: auto; or width: auto;, the element will adjust its size based on its content (or other factors like
 * parent size).
 */
/*
div {
  height: auto; 
  width: auto; 
}
*/

/*
 * max-width, min-width, max-height, min-height:
 * These properties allow you to set constraints on the width or height of an element. 
 */
#box2 {
    background-color: cyan;
    height: 100px;
    width: 100px;
    min-width: 50px; /* Whatever the width we would have, if it is less than 50px, it will be 50px or bcz 50px is the minimum, value can't go down*/
    max-width: 200px; /* Whatever the width we would have, if it is more that 200px, it will be 200px or bcz 200px is the maximum, value can't go up */

    min-height: 50px; /* Whatever the height we would have, if it is less than 50px, it will be 50px or bcz 50px is the minimum, value can't go down*/
    max-height: 200px; /* Whatever the height we would have, if it is more that 200px, it will be 200px or bcz 200px is the maximum, value can't go up */
}