* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;        
}
.navbar {
    border-bottom: 1px solid #0d0202;
    display: inline-block;
}
.navbar ul {
    list-style-type: none;       
    padding-left: 10px;
}   