body {
    background-color: rgb(7, 0, 0);
}

#my-h1 {
    color: white; /* using a named color */
}

#p1 {
    color: white; /* using a named color */
}

#p2 {
    color: #ff0000; /* using a hex color */
}

#p3 {
    color: rgb(48, 207, 127); /* using an RGB color */
}

#p4 {
    color: hsl(257, 78%, 32%); /* using an HSL color */
}